title{
  color: white;
  text-shadow: 2px 2px 4px #000000
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  grid-column: 2;
  grid-row: 2;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color:black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: left;
  background: linear-gradient(104.3deg, rgb(253, 243, 243) 10.9%, rgb(248, 231, 231) 27.8%, rgb(160, 112, 161) 101.7%);
  padding: 2px 16px;
  color: black;
  text-shadow: 2px 2px 4px #000000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 30.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

div{

padding: 8px;
}

h1 {
text-align: center;
text-transform: uppercase;
color: rgb(238, 66, 102);
}

p {
text-indent: 50px;
text-align: justify;
letter-spacing: 3px;
}

a {
text-decoration: none;
color:rgb(151, 150, 240) ;
}
.container img{
  width: 80%;
  margin: auto;
  height: 500px;
}
.column img{
  width: 20%;
  margin: auto;
  height: 200px;
}



